<!DOCTYPE html>
<html lang="ru" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="keywords" content="штукатурка, фреска, краска,
    обои, декор, декоративный, ремонт"/>
        <meta name="description" content/>

        <link rel="preconnect" href="https://fonts.gstatic.com"/>
        <link href="https://fonts.googleapis.com/css2?family=Forum&display=swap" rel="stylesheet"/>

        <title>ReactJS + Spring Data REST</title>

    <!--    ?????-->
        <link rel="stylesheet" href="/main.css" />

    </head>
    <body>

        <div id="app"></div>

        <script src="built/bundle.js"></script>

    </body>
</html>