@font-face {
    font-family: "Century Gothic";
    src: url(fonts/GOTHIC.TTF);
}

body {
    min-width: 1300px;
    margin: 0;
    padding: 0;
    background-color: white;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}

.container {
    width: 1480px;
    margin: 0 auto;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

header {
    background-color:darkslategray;
    background-image: url("img/back.jpg");
    background-attachment: fixed;
    background-position:center;
    color: white;
    padding-bottom: 100px;
}

.header-logo, .footer-logo {
    margin: 0;
    padding: 0px 20px 0px 0;
    box-sizing: border-box;
    width: 15%;
    float: left;
}

.header-logo a, .footer-logo {
    display: block;
    font-size: 40px;
    font-weight: 400;
    font-family: 'Forum', cursive;
    line-height: 55px;
    text-decoration: none;
    color: white;

    margin: 0;
    padding: 10px 0 0 20px;
    border-bottom: 1px solid white;
}

.header-logo::after {
    display: block;
    content: '';
    border-right: 2px solid white;
    height: 21px;
    width: 100%;
    position: relative;
    top: -21px;
    left: 9px;
    transform: skewX(-45deg);
}

.header-nav, .footer-nav {
    list-style: none;    
    margin: 0;
    padding: 20px 20px 5px 0;
    box-sizing: border-box;
    float: right;
    width: 85%;
    border-bottom: 1px solid white;   
}

.header-nav-container, .footer-nav-container {
    float: right;
}

.header-nav li, .footer-nav li {
    float: left;
    margin-left: 20px;
}

.header-nav li:first-child, .footer-nav li:first-child {
    margin-left: 0;
}

.header-nav a, .footer-nav a {
    color: white;
    opacity: 70%;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Century Gothic', serif;
}

.header-nav a:hover {
    opacity: 100%;
    text-shadow: white 0 0 15px, white 0 0 10px, rgba(255, 255, 255, 0.555) 0 0 10px;
}

.header-text {
    margin-top: 150px;
    padding: 0;
    font-size: 86px;
    text-align: center;
    font-weight: 400;
    font-family: 'Forum', cursive;
}




footer {
    margin: 0;
    padding: 30px 0 10px 0px;
    background-color: #3b3b3e;
    color: white;
}

.footer-logo, .footer-nav {
    border: 0;
    padding: 0;
}

.footer-logo {
    font-size: 35px;
    line-height: 45px;
    padding-left: 20px;
}

.footer-nav {
    padding: 15px 20px 0 0;
}

.footer-top {
    border-bottom: 1px solid white;
    border-top: 1px solid white;
}

.footer-bottom {
    font-family: 'Century Gothic', serif;
    font-size: 14px;
    opacity: 50%;
    padding: 20px;
    padding-bottom: 0;
    margin: 0;
}

.footer-left {
    float: left;
    height: 100px;
}

.footer-right {
    float: right;
    height: 100px;
}

.middle-el {
    display:inline-block;
    height:100%;
    width:0px;
    overflow:hidden;
    vertical-align:middle;
}

.footer-right a, span {
    vertical-align: middle;
}

.copyright {
    padding: 0;
    margin: 0;
    clear: both;
    text-align: center;
}