.about {
  font-family: "Forum", sans-serif;
  color: rgba(68, 68, 68, 255);

  .about__container {
    position: relative;
    display: flex;
    flex-direction: row-reverse;

    .about__text {
      display: inline-block;
      background: white;
      width: 80%;
      padding: 40px 80px;
      font-family: "Forum", "Arial", serif;
      font-size: 180%;

      p {
        margin: 0;
      }
    }
    .about__image {
      position: absolute;
      top: 0;
      left: 0;
      width: 25%;
    }
  }
}