.header {
  background: url('../../../resources/static/img/Photo Art Deco/main/main.jpg') no-repeat fixed center;
  background-size: cover;
  height: 100vh;

  .header__container {
    background-color: transparent;
    box-shadow: none;
    height: 100%;

    .header__content {
      height: 100%;

      .header__text {
        font-family: 'Forum', 'Arial', sans-serif;
        font-size: 500%;
        padding: 0;
        margin-top: 25vh;
      }
    }
  }
}